<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DrugoutTotalMapper">

    <resultMap type="DrugoutTotal" id="DrugoutTotalResult">
        <result property="id"    column="id"    />
        <result property="outStatus"    column="out_status"    />
        <result property="outType"    column="out_type"    />
        <result property="outOrderid"    column="out_orderid"    />
        <result property="outDate"    column="out_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="isvalid"    column="isvalid"    />
        <result property="remark"    column="remark"    />
        <result property="drugoutId"    column="drugout_id"    />
        <result property="drugName"    column="drug_name"    />
        <result property="drugPackage"    column="drug_package"    />
        <result property="drugPackingunit"    column="drug_packingunit"    />
        <result property="drugCount"    column="drug_count"    />
        <result property="drugPrice"    column="drug_price"    />
        <result property="drugOrder"    column="drug_order"    />
        <result property="drugValiddate"    column="drug_validdate"    />
        <result property="drugType"    column="drug_type"    />
        <result property="remarkDetail"    column="remarkDetail"    />
        <result property="total"    column="total"    />
        <result property="drugId"    column="drug_id"    />
    </resultMap>


    <select id="selectDrugoutTotalList" parameterType="DrugoutTotal" resultMap="DrugoutTotalResult">
        select a.id, a.out_status, a.out_type, a.out_orderid, a.out_date, a.create_by, a.create_time, a.update_time, a.update_by, a.isvalid, a.remark,
        b.id as sub_id, b.drugout_id,b.drug_type , b.drug_name, b.drug_package , b.drug_count ,
        b.drug_price , b.drug_order , b.drug_validdate ,
        b.remark as remarkDetail,b.drug_packingunit,b.drug_count*b.drug_price as total,
        b.drug_id
        from drugout a
        inner join drugoutdetail b on b.drugout_id = a.id
        <where>
            <if test="outType != null  and outType != ''"> and a.out_type = #{outType}</if>
            <if test="outStatus != null  and outStatus != ''"> and a.out_status = #{outStatus}</if>
            <if test="drugName != null  and drugName != ''"> and b.drug_name like concat('%', #{drugName}, '%')</if>
            <if test="outOrderid != null "> and a.out_orderid = #{outOrderid}</if>
            <if test="params.beginOutDate != null and params.beginOutDate != '' and params.endOutDate != null and params.endOutDate != ''"> and out_date between #{params.beginOutDate} and #{params.endOutDate}</if>
        </where>
        order by a.out_date desc,a.create_time desc
    </select>

</mapper>