<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DruginfoMapper">
    
    <resultMap type="Druginfo" id="DruginfoResult">
        <result property="id"    column="id"    />
        <result property="drugId"    column="drug_id"    />
        <result property="drugName"    column="drug_name"    />
        <result property="drugEngname"    column="drug_engname"    />
        <result property="drugType"    column="drug_type"    />
        <result property="drugToxicology"    column="drug_toxicology"    />
        <result property="drugFormulation"    column="drug_formulation"    />
        <result property="drugPackingunit"    column="drug_packingunit"    />
        <result property="drugDose"    column="drug_dose"    />
        <result property="drugDoseunit"    column="drug_doseunit"    />
        <result property="drugNum"    column="drug_num"    />
        <result property="drugNumunit"    column="drug_numunit"    />
        <result property="drugPackage"    column="drug_package"    />
        <result property="drugUse"    column="drug_use"    />
        <result property="drugDown"    column="drug_down"    />
        <result property="drugUp"    column="drug_up"    />
        <result property="drugFactory"    column="drug_factory"    />
        <result property="sort"    column="sort"    />
        <result property="isvalid"    column="isvalid"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectDruginfoVo">
        select id, drug_id, drug_name, drug_engname, drug_type, drug_toxicology, drug_formulation, drug_packingunit, drug_dose, drug_doseunit, drug_num, drug_numunit, drug_package, drug_use, drug_down, drug_up, drug_factory, sort, isvalid, create_by, create_date, update_by, update_date from druginfo
    </sql>

    <select id="selectDruginfoList" parameterType="Druginfo" resultMap="DruginfoResult">
        <include refid="selectDruginfoVo"/>
        <where>  
            <if test="drugId != null "> and drug_id = #{drugId}</if>
            <if test="drugName != null  and drugName != ''"> and drug_name like concat('%', #{drugName}, '%')</if>
            <if test="drugEngname != null  and drugEngname != ''"> and drug_engname like concat('%', #{drugEngname}, '%')</if>
            <if test="drugType != null  and drugType != ''"> and drug_type = #{drugType}</if>
            <if test="drugToxicology != null  and drugToxicology != ''"> and drug_toxicology = #{drugToxicology}</if>
            <if test="drugFormulation != null  and drugFormulation != ''"> and drug_formulation = #{drugFormulation}</if>
            <if test="drugPackingunit != null  and drugPackingunit != ''"> and drug_packingunit = #{drugPackingunit}</if>
            <if test="drugDose != null "> and drug_dose = #{drugDose}</if>
            <if test="drugDoseunit != null  and drugDoseunit != ''"> and drug_doseunit = #{drugDoseunit}</if>
            <if test="drugNum != null "> and drug_num = #{drugNum}</if>
            <if test="drugNumunit != null  and drugNumunit != ''"> and drug_numunit = #{drugNumunit}</if>
            <if test="drugPackage != null  and drugPackage != ''"> and drug_package = #{drugPackage}</if>
            <if test="drugUse != null  and drugUse != ''"> and drug_use = #{drugUse}</if>
            <if test="drugDown != null "> and drug_down = #{drugDown}</if>
            <if test="drugUp != null "> and drug_up = #{drugUp}</if>
            <if test="drugFactory != null  and drugFactory != ''"> and drug_factory = #{drugFactory}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="isvalid != null "> and isvalid = #{isvalid}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
             and isvalid = 1
        </where>
        order by sort asc
    </select>

    <select id="selectDruginfoById" parameterType="Long" resultMap="DruginfoResult">
        <include refid="selectDruginfoVo"/>
        where id = #{id} and isvalid = 1
    </select>
        
    <insert id="insertDruginfo" parameterType="Druginfo" useGeneratedKeys="true" keyProperty="id">
        insert into druginfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="drugId != null">drug_id,</if>
            <if test="drugName != null">drug_name,</if>
            <if test="drugEngname != null">drug_engname,</if>
            <if test="drugType != null">drug_type,</if>
            <if test="drugToxicology != null">drug_toxicology,</if>
            <if test="drugFormulation != null">drug_formulation,</if>
            <if test="drugPackingunit != null">drug_packingunit,</if>
            <if test="drugDose != null">drug_dose,</if>
            <if test="drugDoseunit != null">drug_doseunit,</if>
            <if test="drugNum != null">drug_num,</if>
            <if test="drugNumunit != null">drug_numunit,</if>
            <if test="drugPackage != null">drug_package,</if>
            <if test="drugUse != null">drug_use,</if>
            <if test="drugDown != null">drug_down,</if>
            <if test="drugUp != null">drug_up,</if>
            <if test="drugFactory != null">drug_factory,</if>
            <if test="sort != null">sort,</if>
            <if test="isvalid != null">isvalid,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="drugId != null">#{drugId},</if>
            <if test="drugName != null">#{drugName},</if>
            <if test="drugEngname != null">#{drugEngname},</if>
            <if test="drugType != null">#{drugType},</if>
            <if test="drugToxicology != null">#{drugToxicology},</if>
            <if test="drugFormulation != null">#{drugFormulation},</if>
            <if test="drugPackingunit != null">#{drugPackingunit},</if>
            <if test="drugDose != null">#{drugDose},</if>
            <if test="drugDoseunit != null">#{drugDoseunit},</if>
            <if test="drugNum != null">#{drugNum},</if>
            <if test="drugNumunit != null">#{drugNumunit},</if>
            <if test="drugPackage != null">#{drugPackage},</if>
            <if test="drugUse != null">#{drugUse},</if>
            <if test="drugDown != null">#{drugDown},</if>
            <if test="drugUp != null">#{drugUp},</if>
            <if test="drugFactory != null">#{drugFactory},</if>
            <if test="sort != null">#{sort},</if>
            <if test="isvalid != null">#{isvalid},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateDruginfo" parameterType="Druginfo">
        update druginfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="drugId != null">drug_id = #{drugId},</if>
            <if test="drugName != null">drug_name = #{drugName},</if>
            <if test="drugEngname != null">drug_engname = #{drugEngname},</if>
            <if test="drugType != null">drug_type = #{drugType},</if>
            <if test="drugToxicology != null">drug_toxicology = #{drugToxicology},</if>
            <if test="drugFormulation != null">drug_formulation = #{drugFormulation},</if>
            <if test="drugPackingunit != null">drug_packingunit = #{drugPackingunit},</if>
            <if test="drugDose != null">drug_dose = #{drugDose},</if>
            <if test="drugDoseunit != null">drug_doseunit = #{drugDoseunit},</if>
            <if test="drugNum != null">drug_num = #{drugNum},</if>
            <if test="drugNumunit != null">drug_numunit = #{drugNumunit},</if>
            <if test="drugPackage != null">drug_package = #{drugPackage},</if>
            <if test="drugUse != null">drug_use = #{drugUse},</if>
            <if test="drugDown != null">drug_down = #{drugDown},</if>
            <if test="drugUp != null">drug_up = #{drugUp},</if>
            <if test="drugFactory != null">drug_factory = #{drugFactory},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="isvalid != null">isvalid = #{isvalid},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDruginfoById" parameterType="Long">
        update druginfo set isvalid = 0 where id = #{id}

    </delete>

    <delete id="deleteDruginfoByIds" parameterType="String">
        update druginfo set isvalid = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDruginfoBydrugId" parameterType="Long" resultMap="DruginfoResult">
        <include refid="selectDruginfoVo"/>
        where drug_id = #{drugId} and isvalid = 1
    </select>
</mapper>